<div class="container">
    <header class="header">
      <div class="header__left">
        <a routerLink="/front"><img src="assets/img/Logo.svg" alt="Alura Geek" class="header__logo"></a>

        <div class="searchbar" [ngClass]="{'searchbar-show': searchShow}">
          <input class="searchbar__input" type="text" id="txtSearch" placeholder="O que deseja encontrar?" [(ngModel)]="searchKey" />
          <button class="searchbar__button" type="button" (click)="search()"><i class="searchbar__button__icon"></i></button>
        </div>
      </div>

      <button *ngIf="!isAuthenticated()" type="button" class="header__button" routerLink="/login">Login</button>

      <div class="header__right" *ngIf="isAuthenticated()">
        <button type="button" class="header__button-icon" routerLink="/produto/home"><i class="header__admin__icon"></i> Admin</button>
        <button type="button" class="header__button-icon" (click)="logout()"><i class="header__logout__icon"></i> Logout</button>
      </div>

      <button class="header__button-search" type="button" (click)="toggleShow()"><i class="header__button-search__icon"></i></button>
    </header>
</div>

