<header class="header">
    <div class="container-h">
        <div class="header__left">
            <img src="assets/img/Logo.svg" alt="Alura Geek" class="header__logo">

            <div class="searchbar">
                <input class="searchbar__input" type="text" id="txtSearch" placeholder="O que deseja encontrar?" />
                <button class="searchbar__button" type="button"><i class="searchbar__button__icon"></i></button>
            </div>
        </div>
        
        <button type="button" class="header__button">Login</button>

        <button class="header__button-search" type="button"><i class="header__button-search__icon"></i></button>
    </div>
</header>