<section class="login">

  <form class="login__form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <h3 class="login__form__title">Iniciar Sessão</h3>

    <input type="text"  class="form__input login__form__input" placeholder="Escreva seu email" formControlName="email"
           required email
    >

    <input type="password" class="form__input login__form__input" placeholder="Escreva sua senha" formControlName="password"
           required minlength="6"
    >

    <button class="button login__form__button" type="submit" [disabled]="!form.valid" >Entrar</button>

  </form>

</section>
