<div class="container">
<section class="linha-produtos">

    <div class="linha-produtos__header">
      <h3 class="linha-produtos__header__title">Todos os produtos</h3>
      <button class="button" type="button">Adicionar produto</button>
    </div>
    <ul class="linha-produtos__itens">
      <li class="linha-produtos__item" *ngFor="let p of produtos; index as j">
        <img class="linha-produtos__item__img" [src]="'assets/img/'+ p.id +'.jpg'" [alt]="p.nome">
        <h4 class="linha-produtos__item__nome">{{ p.nome }}</h4>
        <p class="linha-produtos__item__preco">{{ p.preco | currency }}</p>
        <a href="">Ver produto</a>
      </li>
    </ul>
</section>
</div>
