@import '0-base/_dir', '1-structure/_dir', '2-pages/_dir', '3-components/_dir';

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  background-color: #F5F5F5;
}

body a {
  text-decoration: none;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
