<header class="header">
  <div class="container-h">
      <div class="header__left">
          <img src="assets/img/Logo.svg" alt="Alura Geek" class="header__logo">

          <div class="searchbar">
              <input class="searchbar__input" type="text" id="txtSearch" placeholder="O que deseja encontrar?" />
              <button class="searchbar__button" type="button"><i class="searchbar__button__icon"></i></button>
          </div>
      </div>
      
      <button type="button" class="header__button">Login</button>

      <button class="header__button-search" type="button"><i class="header__button-search__icon"></i></button>
  </div>
</header>

<section class="banner">
  <div class="container-v">
      <div class="banner__box">
          <h2 class="banner__title">Dezembro Promocional</h2>

          <h3 class="banner__subtitle">Produtos selecionados com 33% de desconto</h3>

          <button class="banner__button" type="button">
              Ver Consoles
          </button>
      </div>
  </div>
</section>

<main>
  <section class="linha-produtos">
      <div class="container-v">
          <div class="linha-produtos__header">
              <h3 class="linha-produtos__header__title">Star Wars</h3>
              <a href=""><span>Ver tudo</span><i class="linha-produtos__header__arrow"></i></a>
          </div>
          <ul class="linha-produtos__itens">
              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/star1.jpg" alt="Star Wars 1">
                  <h4 class="linha-produtos__item__nome">Produto XYZ</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/star2.jpg" alt="Star Wars 2">
                  <h4>Produto XYZ</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/star3.jpg" alt="Star Wars 3">
                  <h4>Produto XYZ</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/star4.jpg" alt="Star Wars 4">
                  <h4>Produto XYZ</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/star5.jpg" alt="Star Wars 5">
                  <h4>Produto XYZ</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/star6.jpg" alt="Star Wars 6">
                  <h4>Produto XYZ</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>
          </ul>
      </div>

      <div class="container-v">
          <div class="linha-produtos__header">
              <h3 class="linha-produtos__header__title">Consoles</h3>
              <a href=""><span>Ver tudo</span><i class="linha-produtos__header__arrow"></i></a>
          </div>
          <ul class="linha-produtos__itens">
              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/cons1.jpg" alt="Console 1">
                  <h4 class="linha-produtos__item__nome">Controle N64</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/cons2.jpg" alt="Console 2">
                  <h4>Polystation 7</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/cons3.jpg" alt="Console 3">
                  <h4>Super Não Entendo</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/cons4.jpg" alt="Console 4">
                  <h4>Não Entendo Suíte</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/cons5.jpg" alt="Console 5">
                  <h4>X Caixa Caixa</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/cons6.jpg" alt="Console 6">
                  <h4>Game Boi Free</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>
          </ul>
      </div>

      <div class="container-v">
          <div class="linha-produtos__header">
              <h3 class="linha-produtos__header__title">Diversos</h3>
              <a href=""><span>Ver tudo</span><i class="linha-produtos__header__arrow"></i></a>
          </div>
          <ul class="linha-produtos__itens">
              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/div1.jpg" alt="Diverso 1">
                  <h4 class="linha-produtos__item__nome">Letra Estranha</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/div2.jpg" alt="Diverso 2">
                  <h4>Moleque com Manete</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/div3.jpg" alt="Diverso 3">
                  <h4>Knuckles</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/div4.jpg" alt="Diverso 4">
                  <h4>Mesa Azul</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/div5.jpg" alt="Diverso 5">
                  <h4>Camisa de Burguer</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>

              <li class="linha-produtos__item">
                  <img class="linha-produtos__item__img" src="assets/img/div6.jpg" alt="Diverso 6">
                  <h4>Digimon</h4>
                  <p class="linha-produtos__item__preco">R$ 185,00</p>
                  <a href="">Ver produto</a>
              </li>
          </ul>
      </div>
  </section>
</main>

<footer class="footer">
  <div class="container-v">
      <section class="footer-top">
          <img src="assets/img/Logo-footer.svg" alt="" class="footer-top__logo">

          <ul class="footer-top__links">
              <li><a href="">Quem somos nós</a></li>
              <li><a href="">Política de privacidade</a></li>
              <li><a href="">Programa fidelidade</a></li>
              <li><a href="">Nossas lojas</a></li>
              <li><a href="">Quero ser franqueado</a></li>
              <li><a href="">Anuncie aqui</a></li>
          </ul>

          <form class="footer-top__form">
              <h3>Fale conosco</h3>

              <input type="text" name="nome" id="txtNome" placeholder="Insira o seu nome" class="form__input">

              <textarea name="mensagem" id="txtMensagem" cols="40" rows="5" placeholder="Escreva a sua mensagem" class="form__textarea"></textarea>

              <button class="footer__button" type="submit">Enviar mensagem</button>
          </form>
      </section>

      <section class="footer-down">
          <p class="footer-down__line">Desenvolvido por Johnny Gomes</p>
          <p class="footer-down__line">2022</p>
      </section>
  </div>
</footer>