.form__input {
    padding: 12px;
    border: unset;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 4px;
    font-family: 'Raleway';
}

.form__textarea {
    padding: 12px;
    border: unset;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 4px;
    resize: none;
    font-family: 'Raleway';
}