.form__field {
  position: relative;
}

.form__control::placeholder{
  color:transparent;
}

.form__field label{
  position: absolute;
  pointer-events: none;
  left: 0.8rem;
  font-size: 14px;
  top: 21px;
  color: #A2A2A2;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.form__control:focus + label,
.form__control:not(:placeholder-shown) + label{
  top: 8px;
  bottom: 10px;
  font-size: 12px;
  opacity: 1;
}

.form__control.ng-invalid.ng-touched {
  border: red 1px solid;
}

.form__control {
  padding: 4px 12px;
  border: unset;
  border-bottom: 1px solid #E5E5E5;
  border-radius: 4px;
  height: 56px;
  font-family: inherit;
}

.form__textarea {
  padding: 24px 12px;
  resize: none;
  height: 152px;
}
/*
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
textarea:focus ~ .floating-label
{
  top: 8px;
  bottom: 10px;
  font-size: 12px;
  transform: none;
  opacity: 1;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0.8rem;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  color: #A2A2A2;
}

.form__field {
  position: relative;
}

.form__input {
  padding: 4px 12px;
  border: unset;
  border-bottom: 1px solid #E5E5E5;
  border-radius: 4px;
  height: 56px;
  font-family: inherit;
}

.form__input.ng-invalid.ng-touched {
  border: red 1px solid;
}



*/

@media screen and (min-width: 0) {
  .form__control  {
    width: calc(100% - 24px);
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .form__control {
    width: 560px;
  }
}
