.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem;
}

.header__left {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header__button {
  color: #2A7AE4;
  border-color: #2A7AE4;
  border-style: solid;
  background-color: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.header__button-search {
  border: unset;
  background: transparent;
  cursor: pointer;
}

.header__button-search__icon {
  background-size: contain;
  background: url("/assets/img/search.svg") no-repeat;
  height: 17px;
  width: 17px;
  display: block;
}

.searchbar {
  background: #F5F5F5;
  border-color: #F5F5F5;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  padding: 8px 16px;
  align-self: center;
}

@media screen and (min-width: 0) {
  .searchbar {
    display: none;
  }

  .header__button-search {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .searchbar {
    display: flex;
  }

  .header__button-search {
    display: none;
  }
}

.searchbar__input {
  border: none;
  display: flex;
  background: transparent;
  outline: none;
}

.searchbar__button {
  border: unset;
  background: transparent;
  cursor: pointer;
}

.searchbar__button__icon {
  background-size: contain;
  background: url("/assets/img/search.svg") no-repeat;
  height: 17px;
  width: 17px;
  display: block;
}
