<div class="container">
  <section class="produto-edit">
    <form class="form-produto" (ngSubmit)="submit()" [formGroup]="form">
      <h3 class="form-produto__title">Cadastro de produto</h3>

      <select formControlName="categoria" class="form-produto__input form__input">
        <option value="" disabled selected>Categoria do produto</option>
        <option *ngFor="let c of categorias" [value]="c">{{c}}</option>
      </select>

      <input type="text"  class="form__input form-produto__input" placeholder="Nome do produto" formControlName="nome"
             required
      >

      <input type="text"  class="form__input form-produto__input" placeholder="Preço do produto" formControlName="preco"
             required
      >

      <textarea name="descricao" id="descricao" cols="30" rows="5" class="form__textarea form-produto__input"
                placeholder="Descrição do produto"></textarea>

      <button class="button" type="submit" [disabled]="!form.valid" >Enviar</button>
    </form>
  </section>
</div>
