<ul class="linha-produtos__itens">
  <li class="item-produto" *ngFor="let p of produtos; index as j">
    <div style="position: relative">
      <img class="item-produto__img" [src]="p.imgSrc" [alt]="p.nome">
      <i *ngIf="editMode" class="item-produto__img__action item-produto__img__action-delete" (click)="delete(p.id)"></i>
      <i *ngIf="editMode" class="item-produto__img__action item-produto__img__action-edit" (click)="edit(p.id)"></i>
    </div>
    <h4 class="item-produto__nome">{{ p.nome }}</h4>
    <p class="item-produto__preco">{{ p.preco | currency }}</p>
    <a [routerLink]="'/produto/details/' + p.id" >Ver produto</a>
  </li>
</ul>
